.DS_Store
/pituApp02/Project.xcconfig
/pituApp02/pituApp02.xcodeproj/
/pituApp02/openFrameworks-Info.plist
/pituApp/Project.xcconfig
/pituApp/pituApp.xcodeproj/
/pituApp/openFrameworks-Info.plist
/pituApp/bin/.DS_Store
*.app
/pituApp02/bin/pituApp02.app/Contents/PkgInfo
/pituApp02/bin/pituApp02.app/Contents/MacOS/pituApp02
/pituApp02/bin/pituApp02.app/Contents/MacOS/libfmodex.dylib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/Current
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/waitCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/upDownCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/toprightCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topleftCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/sprayCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightArrowCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftRightCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Info.plist
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/helpCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/fingerCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTUI.strings
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/info.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/classes.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/objects.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/info.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/classes.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/objects.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/info.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/classes.nib
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/destroyCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/cycleCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/crossCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Caution.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomrightCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomleftCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/blankCursor.tiff
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/vvector.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube_gc.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/segment.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/rot.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/port.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/intersect.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/gutil.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutstroke.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutf90.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutbitmap.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glut.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmapint.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmap.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/extrude.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/copy.h
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Versions/A/GLUT
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Resources
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/Headers
/pituApp02/bin/pituApp02.app/Contents/Frameworks/GLUT.framework/GLUT
/pituApp02/bin/pituApp.app/Contents/PkgInfo
/pituApp02/bin/pituApp.app/Contents/MacOS/pituApp
/pituApp02/bin/pituApp.app/Contents/MacOS/libfmodex.dylib
/pituApp02/bin/pituApp.app/Contents/Info.plist
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/Current
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/waitCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/upDownCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/toprightCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topleftCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/sprayCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightArrowCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftRightCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Info.plist
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/helpCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/fingerCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTUI.strings
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/info.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/classes.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/objects.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/info.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/classes.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/objects.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/info.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/classes.nib
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/destroyCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/cycleCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/crossCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Caution.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomrightCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomleftCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/blankCursor.tiff
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/vvector.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube_gc.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/segment.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/rot.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/port.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/intersect.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/gutil.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutstroke.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutf90.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutbitmap.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glut.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmapint.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmap.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/extrude.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/copy.h
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Versions/A/GLUT
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Resources
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/Headers
/pituApp02/bin/pituApp.app/Contents/Frameworks/GLUT.framework/GLUT